@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");

//text
$p-font-color: grey;
$heading-font: "Montserrat", sans-serif;
$menu-font: "Quicksand", sans-serif;
$sub-heading-weight: 200;

//colours
$light-pink: rgb(255, 219, 221);
$dark-pink: rgb(211, 166, 169);

//margins
$screen-margin: 0% 10% 0% 10%;

//images
$blog-img-height: 200px;
$blog-img-width: 100%;
$backgroundsize: cover;
$backgroundrepeat: no-repeat;
$backgroundposition: center;
$carousel-image-height: 300px;
