@import "./variables"; //global variables

.header {
  font-size: 150%;
  text-align: center;
  font-family: $heading-font;
  font-weight: 200;
  letter-spacing: 10%;
  display: block;
}
@media screen and (min-width: 320px) {
  .header {
    font-size: 250%;
  }
}

@media screen and (min-width: 550px) {
  .header {
    font-size: 350%;
  }
}
