@import "./shared/variables";

.flex-box {
  margin: $screen-margin;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  // T E X T

  .text-container {
    width: 70%;
    margin-left: 10%;
    font-family: $menu-font;
    color: $p-font-color;
    text-align: center;
    span {
      color: $dark-pink;
      font-weight: 700;
    }
  }
  // M A I N   I M A G E   A N D   I C O N S   C O N T A I N E R

  .images-block {
    margin: none;
    .image-container {
      overflow: hidden;
      width: 100%;
      border-radius: 32% 68% 25% 75% / 72% 18% 82% 28%;
      margin: auto;

      // I M A G E   A N I M A T I O N

      img {
        width: 100%;
        background-size: $backgroundsize;
        background-repeat: $backgroundrepeat;
        background-position: $backgroundposition;
        background-color: black;
        transition: all 1s ease-in;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .icon-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 5%;
    }
  }
}

//desktop
@media screen and (min-width: 550px) {
  .flex-box {
    flex-direction: row;
    .images-block {
      width: 50%;
      .image-container {
        width: 100%;
        margin: none;
      }
      .icon-container {
        margin: none;
        width: 100%;
      }
    }

    .text-container {
      width: 60%;
    }
  }
}
