@import "./shared/variables";

.flex-box {
  margin: $screen-margin;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .image-container {
    overflow: hidden;
    width: 100%;
    border-radius: 32% 68% 25% 75% / 72% 18% 82% 28%;
    margin: auto;

    img {
      width: 100%;
      background-size: $backgroundsize;
      background-repeat: $backgroundrepeat;
      background-position: $backgroundposition;
      background-color: black;
      transition: all 1s ease-in;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .text-container {
    width: 70%;
    margin-left: 10%;
    font-family: $menu-font;
    color: $p-font-color;
    text-align: center;
  }
}

//desktop
@media screen and (min-width: 550px) {
  .flex-box {
    flex-direction: row;
    justify-content: space-around;

    .image-container {
      width: 50%;
      margin-top: 0;
    }
    .text-container {
      width: 40%;
    }
  }
}
