@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
@import "./shared/variables";

//mobile
.blog-post-container {
  text-align: center; //change on desktop
  margin: $screen-margin;

  .image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: $blog-img-height;
    width: 100%;
    // margin: 5%;
  }

  h3 {
    font-family: $heading-font;
    font-weight: $sub-heading-weight;
  }
  .text-container {
    width: 80%;
    p {
      font-family: $menu-font;
      color: $p-font-color;
    }
  }
}

//tablet
@media screen and (min-width: 320px) {
}

//desktop
@media screen and (min-width: 550px) {
  .blog-post-container {
    text-align: left;
    display: flex;
    flex-direction: row;

    .image-container {
      width: 100%;
    }
  }
}
