@import "./shared/variables";

.flexbox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10%;

  .info {
    // width: 40%;
    .image-container {
      width: 70%;
      overflow: hidden;
      margin: auto;
      border-radius: 32% 68% 25% 75% / 72% 18% 82% 28%;

      img {
        width: 100%;
        background-color: black;
        transition: all 1s ease-in;
        &:hover {
          transform: scale(1.2);
        }
      }
    }

    p {
      width: 100%;
      color: $p-font-color;
      font-family: $menu-font;
      text-align: center;
    }
  }

  .form {
    margin: auto;
    .input {
      width: 100%;
      border-radius: 0.4em;
      margin: 5% 0% 5% 0%;
      color: rgb(200, 143, 152);
    }
    .textarea {
      width: 100%;
      margin: 5% 0% 5% 0%;
      border-radius: 0.4em;
      color: rgb(200, 143, 152);
    }
  }
  .submit-button {
    background-color: #ffdbdd;
    border: none;
    border-radius: 0.5em;
    height: 3em;
    color: white;
    margin-top: 5%;
    font-size: 1em;
    &:hover {
      background-color: rgb(200, 143, 152);
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 700px) {
  .flexbox {
    flex-direction: row;
    justify-content: center;
    .info {
      width: 45%;
      .image-container {
        width: 100%;
      }
    }
    .form {
      width: 45%;
    }
  }
}
