@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
@import "./shared/variables";

.flex-container {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;

  .genre-box {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    overflow: hidden;

    .image1,
    .image2,
    .image3,
    .image4 {
      height: 100%;
      width: 100%;
      background-size: $backgroundsize;
      background-repeat: $backgroundrepeat;
      background-position: $backgroundposition;
      background-color: black;
      transition: all 1s ease-in;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .box-text {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-top: 10%;
    // position: relative;
    // z-index: -1;
  }
}

//desktop
@media screen and (min-width: 550px) {
  .flex-container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
